<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script>
	var stations = new EventSource("/info");
	stations.onmessage = function(event) {
		const obj = JSON.parse(event.data); 
        document.getElementById("still").innerHTML = obj.station;
		document.getElementById("terminusOne").innerHTML = "To " + obj.train1.terminus;
		document.getElementById("photoOne").src = obj.train1.route_emblem;
		document.getElementById("countdownOne").innerHTML = obj.train1.time + " min";
        document.getElementById("terminusTwo").innerHTML = "To " + obj.train2.terminus;
		document.getElementById("photoTwo").src = obj.train2.route_emblem;
		document.getElementById("countdownTwo").innerHTML = obj.train2.time + " min";
        document.getElementById("terminusThree").innerHTML = "To " + obj.train3.terminus;
		document.getElementById("photoThree").src = obj.train3.route_emblem;
		document.getElementById("countdownThree").innerHTML = obj.train3.time + " min";
        document.getElementById("terminusFour").innerHTML = "To " + obj.train4.terminus;
		document.getElementById("photoFour").src = obj.train4.route_emblem;
		document.getElementById("countdownFour").innerHTML = obj.train4.time + " min";
        document.getElementById("feeder").innerHTML = obj.display; 
    }
	var interfaces = new EventSource("/interfaces");
	interfaces.onmessage = function(event) {
	    const obj = JSON.parse(event.data);
	    document.getElementById("time").innerHTML = obj.time;
	}
	</script>
</head>
<body>
	<div class="container-fluid" style="height: 100vh;">
	    <div class="row" style="height: 9vh">
            <div class="col-sm-6">
                <h3 id="time" style="text-align: left; font-size: 2vw;">Placeholder</h3>
            </div>
            <div class="col-sm-6">
                <h3 style="text-align: right; font-size: 2vw;">Stuyvesant High School</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="row" style="height: 16.4vh; display: flex; align-items: center;">
                    <div class="col-sm-12">
                        <h1 class="display-4" id="still" style="font-size: 4vw; text-align: center;">Placeholder</h1>
                    
                    </div>
                </div>
                <div class="row" style="height: 16.4vh;">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <img id="photoOne" src="/static/emblems/fd.svg" style="height: 16.4vh; width: 16.4vw;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row" style="height: 16.4vh; display: flex; align-items: center;">
                            <div class="col-sm-12">
                                <h1 id="countdownOne" style="font-size: 2.5vw;">Placeholder</h1>
                                <h2 id="terminusOne" style="font-size: 2vw;">Placeholder</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 16.4vh;">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <img id="photoTwo" src="/static/emblems/fd.svg" style="height: 16.4vh; width: 16.4vw;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row" style="height: 16.4vh; display: flex; align-items: center;">
                            <div class="col-sm-12">
                                <h1 id="countdownTwo" style="font-size: 2.5vw;">Placeholder</h1>
                                <h2 id="terminusTwo" style="font-size: 2vw;">Placeholder</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 16.4vh;">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <img id="photoThree" src="/static/emblems/fd.svg" style="height: 16.4vh; width: 16.4vw;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row" style="height: 16.4vh; display: flex; align-items: center;">
                            <div class="col-sm-12">
                                <h1 id="countdownThree" style="font-size: 2.5vw;">Placeholder</h1>
                                <h2 id="terminusThree" style="font-size: 2vw;">Placeholder</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 16.4vh;">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <img id="photoFour" src="/static/emblems/fd.svg" style="height: 16.4vh; width: 16.4vw;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="row" style="height: 16.4vh; display: flex; align-items: center;">
                            <div class="col-sm-12">
                                <h1 id="countdownFour" style="font-size: 2.5vw;">Placeholder</h1>
                                <h2 id="terminusFour" style="font-size: 2vw;">Placeholder</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <h2>Testing</h2>
            </div>
        </div>
        <div class="row" style="background-color: black; height: 9vh; display: flex; align-items: center;">
            <div class="col-sm-12">
                <marquee id="feeder" style="text-align: left; font-size: 2vw; color: white;">Placeholder</marquee>
            </div>
        </div>
	</div>
</body>
</html>
