<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <title>STUA</title>
  </head>
  <body>
    <div class="container-fluid" style="height: 100vh; background-color: white;">
      <div class="row" style="background-color: white;">
        <div class="col-5">
          <h1>{{ name }}</h1>
          {% for i in times %}
          <h4>{{i}}</h4>
          {% endfor %}
        </div>
        <div class="col-7">
          <p>dudu</p>
        </div>
    </div>
  </body>
</html>
